
{% extends 'base.html' %}
{% block content %}
    <section class="banner-slider">
        <p> {{ banners }}</p>
        {% for banner in banners %}
            <div class="slide">
                <img src="{{ banner.image.url }}" alt="{{ banner.title }}" style="max-width: 100%; height: auto;">

                <p>{{ banner.image }}</p>
                <h2>{{ banner.title }}</h2>
                <p>{{ banner.description }}</p>
                {% if banner.link %}<a href="{{ banner.link }}" class="btn">Learn More</a>{% endif %}
            </div>
            {% empty %}
            <p>No banners available.</p>
        {% endfor %}
    </section>

    <section class="features">
        <h2>Key Features</h2>
        <div class="feature-grid">
            {% for feature in features %}
                <div class="feature-item">
                    {% if feature.icon_class %}<i class="{{ feature.icon_class }}"></i>{% endif %}
                    <h3>{{ feature.title }}</h3>
                    <p>{{ feature.description }}</p>
                </div>
            {% empty %}
                <p>No features available.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
