{% extends 'protected_page.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="course-detail">
    <h2>{{ course.title }}</h2>
    <p><strong>Category:</strong> {{ course.category.name }}</p>
    <p><strong>Instructor:</strong> {{ course.instructor.name }}</p>
    <p><strong>Duration:</strong> {{ course.duration }}</p>
    <p><strong>Fee:</strong> Rs {{ course.fee }}</p>
    <p><strong>Description:</strong> {{ course.description }}</p>

    <p><strong>Syllabus:</strong></p>
    <ul>
        {% for item in syllabus_items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    
    <p><strong>Prerequisites:</strong></p>
    <ul>
        {% for prerequisite in prerequisites %}
            <li>{{ prerequisite }}</li>
        {% endfor %}
    </ul>
   
    {% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
    <a href="{% url 'course_list' %}" class="btn">Back to Courses</a>
</div>
{% endblock %}
