{% extends 'base.html' %}
{% block content %}
<div class="course-container">
    <h2>Explore Our Courses</h2>
    <ul class="category-list">
        {% for category in categories %}
            <li><a href="{% url 'courses_by_category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="course-grid">
        {% for course in courses %}
            <div class="course-card">
                <div class="course-card-content">
                    <h3><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h3>
                    <p><strong>Instructor:</strong> {{ course.instructor.name }}</p>
                    <p><strong>Duration:</strong> {{ course.duration }}</p>
                    <p><strong>Fee:</strong> Rs {{ course.fee }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
